@import "./src/styles/_base";

.countries {
  display: flex;
  min-height: 700px;
  max-width: 1500px;
  background-color: white;
  margin: 0 auto;

  img {
    min-width: 700px;
    height: 500px;
    position: relative;
    left: 0;
  }

  .text-section {
    height: 500px;
    display: flex;
    justify-content: space-between;
    background-color: $gray;
    padding: 100px 50px;
    position: relative;
    right: 0;
    top: 50px;

    article {
      color: white;
      flex: 0 0 45%;
    }
  }
}
