* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden; }

.header {
  background: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 5000ms; }
  .header:hover {
    transform: scale(1.1); }
  .header .parallax-gradient {
    background: radial-gradient(ellipse farthest-corner at center center, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.85) 100%) repeat scroll 0% 0%; }

.home_text {
  text-align: left; }

.home_text h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
  color: darkgrey;
  text-transform: uppercase;
  text-align: center; }
  .home_text h1 span {
    color: #fff;
    font-size: 100px; }

.home_text p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  margin-top: 0px;
  font-weight: 300; }

@media only screen and (max-width: 640px) {
  .home_text h1 {
    font-size: 45px; }
    .home_text h1 span {
      font-size: 75px; } }
